{
    "presets": [
        "react",
        "es2015",
        "stage-0"
    ],
    "plugins": [
        "babel-plugin-dynamic-import-webpack",
        "transform-decorators-legacy"
        // ["import",
        //      {
        //         "libraryName": "antd-mobile",
        //         "libraryDirectory": "lib",
        //         "style": "css"
        //     }]
    ]
}