
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'sell-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-add:before {
    content: "\e900";
  }
  .icon-american-expres .path1:before {
    content: "\e901";
    color: rgb(27, 87, 175);
  }
  .icon-american-expres .path2:before {
    content: "\e902";
    margin-left: -1.4169921875em;
    color: rgb(255, 255, 255);
  }
  .icon-american-expres .path3:before {
    content: "\e903";
    margin-left: -1.4169921875em;
    color: rgb(255, 255, 255);
  }
  .icon-american-expres .path4:before {
    content: "\e904";
    margin-left: -1.4169921875em;
    color: rgb(255, 255, 255);
  }
  .icon-american-expres .path5:before {
    content: "\e905";
    margin-left: -1.4169921875em;
    color: rgb(255, 255, 255);
  }
  .icon-american-expres .path6:before {
    content: "\e906";
    margin-left: -1.4169921875em;
    color: rgb(27, 87, 175);
  }
  .icon-american-expres .path7:before {
    content: "\e907";
    margin-left: -1.4169921875em;
    color: rgb(27, 87, 175);
  }
  .icon-american-expres .path8:before {
    content: "\e908";
    margin-left: -1.4169921875em;
    color: rgb(27, 87, 175);
  }
  .icon-american-expres .path9:before {
    content: "\e909";
    margin-left: -1.4169921875em;
    color: rgb(27, 87, 175);
  }
  .icon-american-expres .path10:before {
    content: "\e90a";
    margin-left: -1.4169921875em;
    color: rgb(27, 87, 175);
  }
  .icon-american-expres .path11:before {
    content: "\e90b";
    margin-left: -1.4169921875em;
    color: rgb(27, 87, 175);
  }
  .icon-american-expres .path12:before {
    content: "\e90c";
    margin-left: -1.4169921875em;
    color: rgb(27, 87, 175);
  }
  .icon-american-expres .path13:before {
    content: "\e90d";
    margin-left: -1.4169921875em;
    color: rgb(27, 87, 175);
  }
  .icon-american-expres .path14:before {
    content: "\e90e";
    margin-left: -1.4169921875em;
    color: rgb(255, 255, 255);
  }
  .icon-american-expres .path15:before {
    content: "\e90f";
    margin-left: -1.4169921875em;
    color: rgb(255, 255, 255);
  }
  .icon-american-expres .path16:before {
    content: "\e910";
    margin-left: -1.4169921875em;
    color: rgb(255, 255, 255);
  }
  .icon-american-expres .path17:before {
    content: "\e911";
    margin-left: -1.4169921875em;
    color: rgb(27, 87, 175);
  }
  .icon-american-expres .path18:before {
    content: "\e912";
    margin-left: -1.4169921875em;
    color: rgb(27, 87, 175);
  }
  .icon-american-expres .path19:before {
    content: "\e913";
    margin-left: -1.4169921875em;
    color: rgb(27, 87, 175);
  }
  .icon-american-expres .path20:before {
    content: "\e914";
    margin-left: -1.4169921875em;
    color: rgb(27, 87, 175);
  }
  .icon-american-expres .path21:before {
    content: "\e915";
    margin-left: -1.4169921875em;
    color: rgb(27, 87, 175);
  }
  .icon-american-expres .path22:before {
    content: "\e916";
    margin-left: -1.4169921875em;
    color: rgb(27, 87, 175);
  }
  .icon-american-expres .path23:before {
    content: "\e917";
    margin-left: -1.4169921875em;
    color: rgb(27, 87, 175);
  }
  .icon-app:before {
    content: "\e918";
  }
  .icon-bank-card:before {
    content: "\e919";
  }
  .icon-check:before {
    content: "\e91a";
  }
  .icon-checkbox:before {
    content: "\e91b";
    color: #d0d0d0;
  }
  .icon-close:before {
    content: "\e91c";
  }
  .icon-collection:before {
    content: "\e91d";
  }
  .icon-commentaries:before {
    content: "\e91e";
  }
  .icon-complete:before {
    content: "\e91f";
  }
  .icon-cvv-card:before {
    content: "\e920";
  }
  .icon-delete:before {
    content: "\e921";
  }
  .icon-discover-card .path1:before {
    content: "\e922";
    color: rgb(255, 255, 255);
  }
  .icon-discover-card .path2:before {
    content: "\e923";
    margin-left: -1.4169921875em;
    color: rgb(242, 128, 25);
  }
  .icon-discover-card .path3:before {
    content: "\e924";
    margin-left: -1.4169921875em;
    color: rgb(242, 128, 25);
  }
  .icon-discover-card .path4:before {
    content: "\e925";
    margin-left: -1.4169921875em;
    color: rgb(6, 0, 1);
  }
  .icon-discover-card .path5:before {
    content: "\e926";
    margin-left: -1.4169921875em;
    color: rgb(242, 128, 25);
  }
  .icon-dollar:before {
    content: "\e927";
  }
  .icon-doubt:before {
    content: "\e928";
    color: #f01111;
  }
  .icon-download:before {
    content: "\e929";
  }
  .icon-edit:before {
    content: "\e92a";
  }
  .icon-Emal:before {
    content: "\e92b";
  }
  .icon-empty-collection:before {
    content: "\e92c";
  }
  .icon-enlarge:before {
    content: "\e92d";
  }
  .icon-fabulous:before {
    content: "\e92e";
    color: #b1b1b1;
  }
  .icon-facebook--login:before {
    content: "\e92f";
  }
  .icon-facebook:before {
    content: "\e930";
  }
  .icon-google:before {
    content: "\e931";
  }
  .icon-heart:before {
    content: "\e932";
  }
  .icon-history:before {
    content: "\e933";
  }
  .icon-hollow:before {
    content: "\e934";
  }
  .icon-instagram-f:before {
    content: "\e935";
  }
  .icon-interaction:before {
    content: "\e936";
  }
  .icon-jcb-card .path1:before {
    content: "\e937";
    color: rgb(247, 247, 247);
  }
  .icon-jcb-card .path2:before {
    content: "\e938";
    margin-left: -1.4169921875em;
    color: rgb(54, 178, 66);
  }
  .icon-jcb-card .path3:before {
    content: "\e939";
    margin-left: -1.4169921875em;
    color: rgb(206, 48, 36);
  }
  .icon-jcb-card .path4:before {
    content: "\e93a";
    margin-left: -1.4169921875em;
    color: rgb(29, 105, 181);
  }
  .icon-left-turn:before {
    content: "\e93b";
  }
  .icon-logistics:before {
    content: "\e93c";
  }
  .icon-master-card .path1:before {
    content: "\e93d";
    color: rgb(0, 0, 0);
  }
  .icon-master-card .path2:before {
    content: "\e93e";
    margin-left: -1.4169921875em;
    color: rgb(234, 0, 27);
    opacity: 0.9;
  }
  .icon-master-card .path3:before {
    content: "\e93f";
    margin-left: -1.4169921875em;
    color: rgb(247, 159, 27);
    opacity: 0.9;
  }
  .icon-master-card .path4:before {
    content: "\e940";
    margin-left: -1.4169921875em;
    color: rgb(255, 255, 255);
  }
  .icon-master-card .path5:before {
    content: "\e941";
    margin-left: -1.4169921875em;
    color: rgb(255, 255, 255);
  }
  .icon-master-card .path6:before {
    content: "\e942";
    margin-left: -1.4169921875em;
    color: rgb(255, 255, 255);
  }
  .icon-master-card .path7:before {
    content: "\e943";
    margin-left: -1.4169921875em;
    color: rgb(255, 255, 255);
  }
  .icon-master-card .path8:before {
    content: "\e944";
    margin-left: -1.4169921875em;
    color: rgb(255, 255, 255);
  }
  .icon-master-card .path9:before {
    content: "\e945";
    margin-left: -1.4169921875em;
    color: rgb(255, 255, 255);
  }
  .icon-master-card .path10:before {
    content: "\e946";
    margin-left: -1.4169921875em;
    color: rgb(255, 255, 255);
  }
  .icon-master-card .path11:before {
    content: "\e947";
    margin-left: -1.4169921875em;
    color: rgb(255, 255, 255);
  }
  .icon-master-card .path12:before {
    content: "\e948";
    margin-left: -1.4169921875em;
    color: rgb(255, 255, 255);
  }
  .icon-master-card .path13:before {
    content: "\e949";
    margin-left: -1.4169921875em;
    color: rgb(255, 255, 255);
  }
  .icon-master-card .path14:before {
    content: "\e94a";
    margin-left: -1.4169921875em;
    color: rgb(247, 159, 27);
    opacity: 0.9;
  }
  .icon-master-card .path15:before {
    content: "\e94b";
    margin-left: -1.4169921875em;
    color: rgb(247, 159, 27);
    opacity: 0.9;
  }
  .icon-merchants-card .path1:before {
    content: "\e94c";
    color: rgb(229, 229, 229);
  }
  .icon-merchants-card .path2:before {
    content: "\e94d";
    margin-left: -1.4384765625em;
    color: rgb(255, 255, 255);
  }
  .icon-merchants-card .path3:before {
    content: "\e94e";
    margin-left: -1.4384765625em;
    color: rgb(255, 149, 0);
  }
  .icon-merchants-card .path4:before {
    content: "\e94f";
    margin-left: -1.4384765625em;
    color: rgb(51, 51, 51);
  }
  .icon-micro-blog:before {
    content: "\e950";
    color: #4d4d4d;
  }
  .icon-my-order:before {
    content: "\e951";
  }
  .icon-narrow:before {
    content: "\e952";
  }
  .icon-national-flag .path1:before {
    content: "\e953";
    color: rgb(255, 255, 255);
  }
  .icon-national-flag .path2:before {
    content: "\e954";
    margin-left: -1em;
    color: rgb(235, 0, 0);
  }
  .icon-national-flag .path3:before {
    content: "\e955";
    margin-left: -1em;
    color: rgb(35, 60, 175);
  }
  .icon-national-flag .path4:before {
    content: "\e956";
    margin-left: -1em;
    color: rgb(35, 60, 175);
  }
  .icon-national-flag .path5:before {
    content: "\e957";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-news:before {
    content: "\e958";
  }
  .icon-open:before {
    content: "\e959";
  }
  .icon-order:before {
    content: "\e95a";
    color: #666;
  }
  .icon-order-cancel:before {
    content: "\e95b";
  }
  .icon-order-create:before {
    content: "\e95c";
  }
  .icon-order-goods:before {
    content: "\e95d";
  }
  .icon-order-ok:before {
    content: "\e95e";
  }
  .icon-order-paragraph:before {
    content: "\e95f";
  }
  .icon-pad-hidden:before {
    content: "\e960";
  }
  .icon-page-left:before {
    content: "\e961";
  }
  .icon-page-right:before {
    content: "\e962";
  }
  .icon-paint-brush:before {
    content: "\e963";
  }
  .icon-password:before {
    content: "\e964";
  }
  .icon-paypal-card .path1:before {
    content: "\e965";
    color: rgb(247, 247, 247);
  }
  .icon-paypal-card .path2:before {
    content: "\e966";
    margin-left: -1.4169921875em;
    color: rgb(40, 163, 224);
    opacity: 0.68;
  }
  .icon-paypal-card .path3:before {
    content: "\e967";
    margin-left: -1.4169921875em;
    color: rgb(0, 48, 133);
  }
  .icon-paypal-card .path4:before {
    content: "\e968";
    margin-left: -1.4169921875em;
    color: rgb(0, 48, 133);
  }
  .icon-paypal-card .path5:before {
    content: "\e969";
    margin-left: -1.4169921875em;
    color: rgb(40, 163, 224);
    opacity: 0.68;
  }
  .icon-paypal-card .path6:before {
    content: "\e96a";
    margin-left: -1.4169921875em;
    color: rgb(0, 48, 133);
  }
  .icon-paypal-card .path7:before {
    content: "\e96b";
    margin-left: -1.4169921875em;
    color: rgb(40, 163, 224);
    opacity: 0.68;
  }
  .icon-paypal-img .path1:before {
    content: "\e96c";
    color: rgb(40, 163, 224);
    opacity: 0.68;
  }
  .icon-paypal-img .path2:before {
    content: "\e96d";
    margin-left: -4.111328125em;
    color: rgb(0, 48, 133);
  }
  .icon-paypal-img .path3:before {
    content: "\e96e";
    margin-left: -4.111328125em;
    color: rgb(0, 48, 133);
  }
  .icon-paypal-img .path4:before {
    content: "\e96f";
    margin-left: -4.111328125em;
    color: rgb(40, 163, 224);
    opacity: 0.68;
  }
  .icon-paypal-img .path5:before {
    content: "\e970";
    margin-left: -4.111328125em;
    color: rgb(0, 48, 133);
  }
  .icon-paypal-img .path6:before {
    content: "\e971";
    margin-left: -4.111328125em;
    color: rgb(40, 163, 224);
    opacity: 0.68;
  }
  .icon-paypal-img .path7:before {
    content: "\e972";
    margin-left: -4.111328125em;
    color: rgb(40, 163, 224);
    opacity: 0.68;
  }
  .icon-paypal-img .path8:before {
    content: "\e973";
    margin-left: -4.111328125em;
    color: rgb(2, 32, 105);
    opacity: 0.7;
  }
  .icon-paypal-img .path9:before {
    content: "\e974";
    margin-left: -4.111328125em;
    color: rgb(0, 48, 133);
  }
  .icon-personal-data:before {
    content: "\e975";
  }
  .icon-phone:before {
    content: "\e976";
  }
  .icon-pinterest:before {
    content: "\e977";
  }
  .icon-pinterest-card:before {
    content: "\e978";
    color: #0069aa;
  }
  .icon-pinterest-detail:before {
    content: "\e979";
  }
  .icon-plus:before {
    content: "\e97a";
    color: #cfcfcf;
  }
  .icon-prompt:before {
    content: "\e97b";
    color: #ffb52b;
  }
  .icon-prompt-error:before {
    content: "\e97c";
  }
  .icon-prompt-info:before {
    content: "\e97d";
  }
  .icon-prompt-success:before {
    content: "\e97e";
  }
  .icon-prompt-warning:before {
    content: "\e97f";
  }
  .icon-psd-display:before {
    content: "\e980";
  }
  .icon-ratio:before {
    content: "\e981";
    color: #b0b0b0;
  }
  .icon-ratio-current:before {
    content: "\e982";
  }
  .icon-receiving-address:before {
    content: "\e983";
  }
  .icon-reduce:before {
    content: "\e984";
    color: #cfcfcf;
  }
  .icon-refresh:before {
    content: "\e985";
  }
  .icon-right-turn:before {
    content: "\e986";
  }
  .icon-search:before {
    content: "\e987";
  }
  .icon-share-img:before {
    content: "\e988";
  }
  .icon-shop:before {
    content: "\e989";
  }
  .icon-shopping-cart:before {
    content: "\e98a";
    color: #757575;
  }
  .icon-sigh:before {
    content: "\e98b";
  }
  .icon-sign-out:before {
    content: "\e98c";
  }
  .icon-slider-bottom:before {
    content: "\e98d";
  }
  .icon-slider-left:before {
    content: "\e98e";
  }
  .icon-slider-left-x:before {
    content: "\e98f";
    color: #545454;
  }
  .icon-slider-right:before {
    content: "\e990";
  }
  .icon-slider-right-x:before {
    content: "\e991";
    color: #545454;
  }
  .icon-slider-top:before {
    content: "\e992";
  }
  .icon-small-bell:before {
    content: "\e993";
  }
  .icon-subscribe:before {
    content: "\e994";
  }
  .icon-subscribe-add:before {
    content: "\e995";
  }
  .icon-the-villain:before {
    content: "\e996";
  }
  .icon-to-top:before {
    content: "\e997";
  }
  .icon-tumblr:before {
    content: "\e998";
  }
  .icon-twitter:before {
    content: "\e999";
  }
  .icon-upload .path1:before {
    content: "\e99a";
    color: rgb(245, 245, 245);
  }
  .icon-upload .path2:before {
    content: "\e99b";
    margin-left: -1em;
    color: rgb(234, 234, 234);
  }
  .icon-upload .path3:before {
    content: "\e99c";
    margin-left: -1em;
    color: rgb(164, 164, 164);
  }
  .icon-visa-card .path1:before {
    content: "\e99d";
    color: rgb(247, 247, 247);
  }
  .icon-visa-card .path2:before {
    content: "\e99e";
    margin-left: -1.4169921875em;
    color: rgb(4, 97, 165);
  }
  .icon-visa-card .path3:before {
    content: "\e99f";
    margin-left: -1.4169921875em;
    color: rgb(239, 159, 56);
  }
  .icon-yes-ymbol:before {
    content: "\e9a0";
  }